
@font-face {
    font-family: "roboto";
    src: url(fonts/roboto) format(truetype);
}

body {
    font-family: "roboto", sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* Header */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px 200px;
}

.header-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
    color: #E5E7EB;
    font-size: 14px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
/* Blade one */

.blade-one {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 75px 200px;
    flex-shrink: 1;
}
.main-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.intro-text {
    min-height: 200px;
    margin-right: 50px;
}
.sub-text {
    color: #E5E7EB;
}

.top-button {
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 10px;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    border: 0; 
}

.placeholder {
    height: 200px;
    width: 450px;
    color: #E5E7EB;
    background-color: #e5e7eb81;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Blade two */

.blade-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.card-container {
    display: flex;
    margin-top: 15px;
}

.mini-container {
    width: 150px;
    margin: 20px;
    text-align: center;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.card {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 3px;
    border-radius: 8px;
}

/* Blade three */

.blade-three {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.quote {
    font-size: 36px;
    width: 800px;
    color: #1F2937;
    font-weight: lighter;
}

.source {
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    text-align: right;
}

/* Blade four */

.blade-four {
    display: flex;
    justify-content: center;
    padding: 100px;
}
.cta {
    display: flex; 
    justify-content: space-around;
    background-color: #3882F6;
    padding: 50px 15px;
    width: 875px;
    border-radius: 8px;
}

.cta-text {
    color: #F9FAF8;
}

.cta-title {
    font-size: 18px;
    font-weight: bold;
}

.cta-sub {
    font-size: 14px;
    font-weight: lighter;
}

.cta-button {
    background-color: #3882F6;
    color:#F9FAF8;
    border-style: solid;
    border-color:#F9FAF8;
    border-width: 2px;
    border-radius: 8px;
    width: 125px;
}

/* Footer */

.footer {
    display: flex;
    background-color: #1F2937;
    color:#F9FAF8;
    justify-content: center;
    align-items: center;
    padding: 30px;
}